body{
    background-color: #D5DCF9;
    margin: auto;
    text-align: center;
    align-items: center;
}

.title{
    margin-top: 7%;
    font-size: 3rem;
    font-family: 'PT Serif', serif;
}

ul{
    list-style-type: none;
}
.form{
    margin-top: 8%;
    margin-bottom: 5%;
}

.input-field{
    width: 30%;
    font-size: larger;
    
    font-family: 'PT Serif', serif;
    border: #443627;
    border-radius: 3%;
    box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.3);
}

input[class= "checkbox"]:checked+li {
    text-decoration: line-through;
    text-decoration-color: black;
  
}

.button{
    background-color: #363537;
    color: white;
    margin-left: 0.5%;
    font-size: larger;
    font-family: 'PT Serif', serif;
    box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    border: #443627;
}

.button:hover{
    cursor: pointer;
}

.main-list{
    width: fit-content;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 0%;
}

.item-div{
    text-align: left;
    align-items: normal;
    width:250px;
    display: flex;
}

.checkbox{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    margin-bottom: 7%;
    padding: 2%;
}


.list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5%;
    padding: 2%;
    color: black;
    background: white;
    border: #443627;
    outline: #443627;
    font-size: larger;
    font-family: 'PT Serif', serif;
    width: 200px;
    height: 28px;
    margin-bottom: 7%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}